@import '@/styles/mediaQueriesMixins.scss';
@import '@/styles/deviceSizes.scss';
@import '@/styles/colors.scss';
@import '@/styles/boxShadows.scss';
@import '@/styles/grid.scss';

$searchInputHeight: 35px;

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  flex-direction: row;

  @include mql(sm) {
    flex-direction: column;
  }

  .rowItem {
    flex: 1 1 calc(33.33% - 20px);
    margin: 0.3rem 3px 0.3rem 3px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    background: white;
    max-width: 100%;
    border-radius: 12px;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
    // overflow: hidden;
    box-shadow: $boxShadowA;
    height: 170px;

    @include mql(sm) {
      width: 100%;
      height: 150px;
    }

    p {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      margin: 0 4px 10px 4px;
    }

    .panelIcon {
      font-size: 40px;
      height: 40px;
      display: flex;
      line-height: 40px;
      text-align: center;
    }

    .tbox {
      max-width: 100%;
      height: $searchInputHeight;
      flex-direction: column;
      display: flex;
      align-items: center;

      div {
        input[type='text'] {
          border: 1px solid gray;
          background: none;
          color: #34495e;
          outline: none;
          padding: 2px 0;
          font-size: 1.1rem;
          height: 26px;
        }
      }
    }

    ul {
      background: rgb(255, 255, 255);
      width: 280px;
      min-height: 200px;
      overflow-y: auto;
      box-shadow: $boxShadowB;
    }

    li {
      div.loader {
        display: flex;
        justify-content: center;
        padding: 10px;
      }

      button {
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(36, 36, 36);
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        background: transparent;
        width: 100%;
        min-height: 40px;
      }

      button:hover {
        background: rgb(240, 240, 240);
      }
    }
  }
}
