<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />
  <link rel="icon" href="favicon.ico" type="image/ico" />
  <title>Admin page</title>
</head>

<th:block th:with="isDebug=${@environment.getProperty('debug')}">

  <th:block>
    <body th:replace="~{generated :: body-fragment }" />
  </th:block>

</th:block>



</html>
