$blueA: rgb(33, 134, 180);
$blueB: rgb(29, 120, 155);
$blueC: rgb(21, 98, 125);
$blueD: rgb(9, 67, 87);
$blueE: rgb(3, 37, 57);

$grayA:rgb(233, 233, 233);
$grayB:rgb(207, 207, 207);
$grayC:rgb(189, 189, 189);
$grayD:rgb(154, 154, 154);
$grayE:rgb(122, 122, 122);