:export {

  $sm: 568px; // ≥ 568px FOR mqg    |   < FOR mql 
  $md: 768px; // ≥ 768px FOR mqg   |   < FOR mql
  $lg: 1024px; // ≥ 1024px FOR mqg    |   < FOR mql
  $xl: 1280px; // ≥ 1280px FOR mqg    |   < FOR mql

}